/* ============================================ */
/* ================ What I Do part ================ */
/* ============================================ */

.section__what-i--do {
	transition: all 0.2s;

	.doing-box {
		padding: 3.6rem 5rem;
		width: 100%;
		margin-top: 4rem;
		box-shadow: 0 16px 32px $light-shadow;
		border-radius: 12px;
		@include flex-row_center;
		transition: all 0.2s;

		@include respond(tab-port) {
			@include flex-column;
			align-items: flex-start !important;
			justify-content: flex-start !important;
		}

		@include respond(phone) {
			padding: 4rem 3.7rem;
			margin-top: 3rem;
			box-shadow: 0 12px 24px $light-shadow;
		}

		&:hover {
			margin-top: 3.8rem;
			box-shadow: 0 16px 32px $light-shadow-hover;
			transform: scale(1.04);

			.doing-box__top-icon {
				transform: rotate(-4deg) translateY(-5px) scale(1.2);
			}
		}

		&__top {
			@include flex-row_center;

			&-icon {
				width: 92px;
				height: auto;
				margin-right: 10px;
				transition: all 0.3s;

				@include respond(phone) {
					width: 68px;
					height: auto;
				}

				&_img {
					width: 100%;
					height: 100%;
				}
			}
		}

		&__btm {
			margin-top: 0;
			margin-left: 30px;

			@include respond(tab-port) {
				margin-left: 0;
				margin-top: 20px;
			}

			&-heading {
				font-size: 2.3rem;
				color: $color-primary-supporting;
				font-family: $heading-bold;
				text-align: left;
				letter-spacing: -0.02px;
				margin-bottom: 0;

				@include respond(tab-port) {
					text-align: left;
				}

				@include respond(phone) {
					font-size: 2.5rem;
				}
			}

			&-des {
				color: $color-grey-dark-2;
				font-size: 1.5rem;
				text-align: left;
				line-height: 2.4rem;
				margin-top: 1rem;
				margin-bottom: 0;

				@include respond(tab-port) {
					text-align: left;
				}

				@include respond(phone) {
					font-size: 1.7rem;
					line-height: 2.6rem;
				}
			}
		}
	}
}
