// Importing Fonts from local folder heading, button & special charecter

@font-face {
	font-family: Mulish-Black;
	src: url(../fonts/mulish/Mulish-Black.ttf);
}

@font-face {
	font-family: Mulish-Bold;
	src: url(../fonts/mulish/Mulish-Bold.ttf);
}

@font-face {
	font-family: Mulish-ExtraBold;
	src: url(../fonts/mulish/Mulish-ExtraBold.ttf);
}

@font-face {
	font-family: Mulish-SemiBold;
	src: url(../fonts/mulish/Mulish-SemiBold.ttf);
}

@font-face {
	font-family: Mulish-Medium;
	src: url(../fonts/mulish/Mulish-Medium.ttf);
}

@font-face {
	font-family: Mulish-Regular;
	src: url(../fonts/mulish/Mulish-Regular.ttf);
}

@font-face {
	font-family: Mulish-MediumItalic;
	src: url(../fonts/mulish/Mulish-MediumItalic.ttf);
}

@font-face {
	font-family: Mulish-Light;
	src: url(../fonts/mulish/Mulish-Light.ttf);
}

@font-face {
	font-family: Mulish-Italic;
	src: url(../fonts/mulish/Mulish-Italic.ttf);
}

// Importing Fonts from local folder for default

@font-face {
	font-family: Avenir-Medium;
	src: url(../fonts/avnir/AvenirLTStd-Medium.otf);
}

@font-face {
	font-family: Avenir-Book;
	src: url(../fonts/avnir/AvenirLTStd-Book.otf);
}

@font-face {
	font-family: Avenir-Roman;
	src: url(../fonts/avnir/AvenirLTStd-Roman.otf);
}
//  Starting body

body {
	font-family: $heading-regular, sans-serif !important;
	letter-spacing: 0.04rem;
	font-size: 16px;
	line-height: 1.7;
	color: $color-grey-dark;
}

//  Starting Heading

.heading-primary {
	text-transform: uppercase;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	margin-bottom: 6rem;

	&--main {
		display: block;
		color: $color-primary;
		font-family: $heading-bold;
		letter-spacing: -1.5px;
		font-size: 5.2rem;
		word-spacing: 5px;
		// text-shadow: 3px 4px 4px #010f1a0f;

		@include respond(big-desktop) {
			font-size: 4.5rem;
		}

		@include respond(tab-port) {
			font-size: 4.2rem;
		}

		@include respond(phone) {
			font-size: 4rem;
			letter-spacing: 0.02px;
		}
	}
}

/* ------------------ Heading box only for secondary heading ------------------ */

.heading-secondary {
	font-family: $heading-extrabold;
	background-image: linear-gradient(
		to right bottom,
		$color-primary,
		$color-primary-supporting
	);
	font-size: 4.6rem;
	-webkit-background-clip: text;
	letter-spacing: -0.06px;
	display: inline-block;
	padding-bottom: 2rem;
	color: transparent;
	// text-shadow: 1px 3px 5px rgba($color-primary-dark, 0.1);
	transition: all 0.2s;

	@include respond(tab-port) {
		font-size: 3.8rem;
	}

	@include respond(phone) {
		width: 100%;
		font-size: 3.8rem;
		text-align: center;
		text-shadow: 0 2px 3px rgba($color-primary, 0.1);
		padding-bottom: 10px;
	}

	@include respond(sm-phone) {
		width: 75%;
	}

	// &:hover {
	//   background-image:
	//   linear-gradient(to right bottom, $color-primary, $color-primary-supporting);
	//   -webkit-background-clip: text;
	//   color: transparent;
	//   text-shadow: 1px 3px 5px rgba($color-primary-medium, 0.5);
	//   transform: skewY(2deg) skewX(15deg) scale(1.1);

	//   @include respond(tab-port) {
	//     transform: none;
	//   }
	// }
}

.heading-tertiary {
	font-family: $heading-bold;
	font-size: 3.4rem;
	letter-spacing: -0.2px;
	color: $color-primary-dark;

	@include respond(phone) {
		font-size: 2.8rem;
		line-height: 3.2rem;
	}
}

.paragraph {
	font-size: 1.7rem;
	color: $color-grey-dark-2;
	letter-spacing: -0.01px;
	line-height: 2.9rem;

	@include respond(tab-land) {
		line-height: 2.7rem;
	}

	@include respond(phone) {
		font-size: 1.8rem;
		line-height: 3rem;
	}

	&:not(:last-child) {
		margin-bottom: 3rem;
	}
}

.heading-tertiary__skills {
	color: $color-primary-medium-dark;
	font-size: 2.6rem;
	letter-spacing: -0.2px;

	@include respond(phone) {
		font-size: 2.8rem;
		line-height: 4rem;
	}
}

.heading-tertiary__about {
	color: $color-primary-medium-dark;
	font-size: 2.6rem;
	font-family: $heading-semibold;
	line-height: 37px;
	-webkit-user-select: none;

	@include respond(big-desktop) {
		line-height: 42px;
	}

	@include respond(tab-land) {
		font-size: 2.6rem;
		line-height: 27px;
		margin-bottom: 0;
	}

	@include respond(phone) {
		font-size: 3rem;
		margin-top: -1rem;
	}
}
/* -------------- Heading box adjustment with animated bar -------------- */

.heading-box {
	width: 100%;
	text-align: center;

	@include flex-column_center;

	.animated-bar {
		content: "";
		display: block;
		height: 4px;
		left: 0;
		margin: 0 auto;
		position: relative;
		right: 0;
		width: 75px;

		background: rgba($color-primary, 1);

		@include respond(phone) {
			height: 3px;
		}

		&::after,
		&::before {
			-webkit-animation-duration: 1s;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-name: barAnimation;
			-webkit-animation-timing-function: linear;
			animation-duration: 1s;
			animation-iteration-count: infinite;
			animation-name: barAnimation;
			animation-timing-function: linear;
			background-color: $color-grey-light-1;
			content: "";
			height: 100%;
			position: absolute;
			top: 0;
			width: 4px;
		}

		&::after {
			left: 0px;
		}

		&::before {
			left: 8px;
		}
	}
}

.heading-para {
	@extend .paragraph;
	color: $color-primary-medium-dark;
	margin-top: 4rem;
	letter-spacing: -0.15px;
	width: 65%;
	font-size: 1.8rem;
	margin-bottom: 0;
	line-height: 3rem;

	@include respond(tab-land) {
		line-height: 2.9rem;
	}

	@include respond(phone) {
		width: 96%;
		font-size: 1.8rem;
		margin-top: 3rem;
		line-height: 2.8rem !important;
	}

	a {
		text-decoration: none !important;
		font-family: $heading-semibold;
		color: $color-primary;
		transition: all 0.2s;

		&:hover {
			color: $color-primary-dark;
		}
	}

	&_span {
		font-size: 2.6rem;
		padding-left: 3px;
	}
}
