// ======== COLORS


// ========== color primary

$color-primary: #363e4b;
$color-primary-light: #7f91ae;
$color-primary-dark: #1c2128;

// ========== color secondary

$color-secondary: #9acb34;
$color-secondary-light: #def5ae;
$color-secondary-dark: #628a0e;


// ========== color tertiary

$color-tertiary: #fbf8ef;

// ========== color for star

$color-star: #ffaa16;

// ========== color grey light

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;


// ========== color grey dark

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;


// ========== color black & white

$color-white: #fff;
$color-black: #000;


// ========== FONT

$default-font-size: 1.6rem;