// Default page route

.page-route {
	padding-bottom: 0;
	padding-top: 4rem;
	font-weight: 500;

	&_box {
		width: 100%;
		display: flex;
		justify-content: flex-start;

		@include respond(phone) {
			width: 97%;
			margin-left: 3%;
		}

		&-text {
			font-size: 1.6rem;
			color: $color-primary-dark;

			@include respond(phone) {
				font-size: 1.8rem;
			}

			&_devider {
				padding: 0 14px;

				@include respond(phone) {
					padding: 0 10px;
				}
			}

			&_current-location {
				color: $color-primary;
			}
		}
	}
}

/* =============================================== */
/* =================== Section about details part =================== */
/* =============================================== */

.section-about_details {
	padding-top: 0;
	font-weight: 500;

	&-big-text-box {
		@include flex-row_center;
		margin-top: -14px;

		p {
			font-size: 15rem;
			font-weight: 700;
			color: rgba($color-primary-light, 1);
			letter-spacing: -5px;
			-webkit-user-select: none;

			@include respond(big-desktop) {
				font-size: 12.5rem;
			}

			@include respond(tab-land) {
				font-size: 12.5rem;
				letter-spacing: -2px;
			}

			@include respond(tab-port) {
				font-size: 11.5rem;
				letter-spacing: -3px;
			}

			@include respond(phone) {
				font-size: 5.5rem;
				letter-spacing: -2px;
				margin-top: 1.5rem;
			}
		}
	}

	.main-details {
		margin-top: -6.6rem;

		@include respond(tab-land) {
			margin-top: -8rem;
		}

		@include respond(tab-port) {
			margin-top: -6.5rem;
		}

		@include respond(phone) {
			margin-top: -3rem;
		}

		&_left {
			width: 100%;
			margin-top: -30px;
			position: relative;
			@include flex-row_center;

			@include respond(big-desktop) {
				margin-top: 6rem;
			}

			@include respond(tab-land) {
				margin-top: 3rem;
			}

			@include respond(tab-port) {
				margin-top: 8rem;
			}

			@include respond(phone) {
				margin-top: 2rem;
				margin-bottom: 5.5rem;
			}

			&::before {
				content: '';
				position: absolute;
				top: 0px;
				width: 390px;
				height: 390px;
				border-radius: 50%;
				background-color: $color-primary;
				animation: pixaBgLoopBig 2s linear infinite;
				z-index: 0;

				@include respond(big-desktop) {
					height: 380px;
					width: 380px;
				}

				@include respond(tab-land) {
					height: 300px;
					width: 300px;
				}

				@include respond(tab-port) {
					height: 220px;
					width: 220px;
				}

				@include respond(phone) {
					height: 180px;
					width: 180px;
				}
			}

			&::after {
				content: '';
				position: absolute;
				top: 0px;
				width: 390px;
				height: 390px;
				border-radius: 50%;
				border: 1.5px solid $color-primary-supporting;
				animation: pixaBgLoopSmall 4s linear infinite;
				z-index: 0;

				@include respond(big-desktop) {
					height: 380px;
					width: 380px;
				}

				@include respond(tab-land) {
					height: 300px;
					width: 300px;
				}

				@include respond(tab-port) {
					height: 220px;
					width: 220px;
				}

				@include respond(phone) {
					height: 180px;
					width: 180px;
				}
			}

			img {
				width: 390px;
				height: 390px;
				border-radius: 50%;
				overflow: hidden;
				position: relative;
				z-index: 9;

				-webkit-user-drag: none;
				-webkit-user-select: none;

				@include respond(big-desktop) {
					height: 380px;
					width: 380px;
				}

				@include respond(tab-land) {
					height: 300px;
					width: 300px;
				}

				@include respond(tab-port) {
					height: 220px;
					width: 220px;
				}

				@include respond(phone) {
					height: 180px;
					width: 180px;
				}
			}
		}

		&_right {
			@include respond(phone) {
				margin-top: 0;
			}

			.heading-tertiary {
				margin-bottom: 2.3rem;
				text-transform: uppercase;
				letter-spacing: -0.02px;
				margin-top: 4rem;

				@include respond(phone) {
					font-size: 2.8rem !important;
					margin-top: 0;
				}
			}

			.paragraph {
				width: 100%;

				@include respond(phone) {
					width: 100%;
				}
			}
		}
	}

	.sub-details {
		margin-top: 16rem;

		@include respond(big-desktop) {
			margin-top: 8.5rem;
		}

		@include respond(tab-land) {
			margin-top: 15.5rem;
		}

		@include respond(phone) {
			margin-top: 5px;
		}

		&_left {
			margin-top: 5.4rem;

			@include respond(phone) {
				margin-top: 3rem;
			}

			@include respond(big-desktop) {
				margin-top: 10.6rem;
			}

			&-text {
				font-size: 1.75rem;
				color: $color-primary-medium-dark;
				letter-spacing: 0;
				margin: 1.6rem 0;

				@include respond(phone) {
					font-size: 1.7rem;
				}

				span {
					font-size: 1.8rem;
					margin-right: 1.2rem;
					color: $color-primary;

					@include respond(phone) {
						font-size: 1.7rem;
						margin-right: 1.6rem;
					}
				}
			}
		}

		&_right {
			width: 100%;
			height: auto;
			margin-top: -10rem;

			@include flex-row;
			justify-content: center;
			align-items: flex-end;

			@include respond(big-desktop) {
				margin-top: -4rem;
			}

			@include respond(phone) {
				margin-top: 4rem;
			}

			&-main {
				width: 85%;

				.education-details {
					@include flex-column;

					&_name {
						font-size: 1.75rem;

						color: rgba($color-primary, 1);
						margin-top: 1rem;

						@include respond(phone) {
							margin-top: 2.2rem;
							font-size: 2.05rem;
						}

						&-status {
							font-size: 1.5rem;
							display: block;
							color: $color-primary-medium-dark;
							margin-top: 8px;

							@include respond(phone) {
								margin-top: 0;
								line-height: 2.7rem;
							}
						}
					}
				}
			}

			&-corner {
				width: 15%;

				@include flex-column;
				justify-content: flex-end;
				align-items: flex-end;

				.about-top_social {
					@include flex-column;
					align-items: center;

					&-link {
						margin-top: 2.2rem;
						font-size: 1.8rem;
						-webkit-user-select: none;

						@include respond(phone) {
							font-size: 2rem;
						}

						&:link,
						&:visited {
							text-decoration: none;
							color: $color-primary-medium-dark;
						}

						&:hover,
						&:active {
							text-decoration: none;
							color: $color-primary;
						}
					}
				}
			}
		}
	}
}
