/* -------------- Section contact page top part -------------- */

.section-contact_top {
	padding-top: 0;
	padding-bottom: 0;

	@include respond(tab-land) {
		padding-bottom: 5rem;
	}

	@include respond(phone) {
		padding-bottom: 2.5rem;
	}

	&-big_text-box {
		@include flex-row_center;
		margin-top: -14px;

		p {
			font-size: 15rem;
			font-weight: 700;
			color: rgba($color-primary-light, 1);
			letter-spacing: -5px;
			-webkit-user-select: none;

			@include respond(big-desktop) {
				font-size: 12.5rem;
			}

			@include respond(tab-land) {
				font-size: 12.5rem;
				letter-spacing: -2px;
			}

			@include respond(tab-port) {
				font-size: 11.5rem;
				letter-spacing: -3px;
			}

			@include respond(phone) {
				font-size: 5.5rem;
				letter-spacing: -2px;
				margin-top: 1.5rem;
			}
		}
	}

	/* -------------- Section contact page heading box -------------- */
	.heading-box {
		margin-top: -6rem !important;

		@include respond(phone) {
			margin-top: -1rem !important;
		}
	}

	/* -------------- Contact banner -------------- */

	.contact-page_banner-part {
		width: 100%;
		height: auto;
		margin-top: 4rem;
		border-radius: 15px;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			-webkit-user-drag: none;
			-webkit-user-select: none;
		}

		.for_big-screen {
			@include respond(phone) {
				display: none;
			}
		}

		.for_big-small {
			display: none;
			@include respond(phone) {
				display: block !important;
			}
		}
	}
}

/* -------------- Contact form -------------- */

.section__contact-form {
	padding-top: 0;
	margin-top: -50px;

	@include respond(big-desktop) {
		margin-top: -75px;
	}

	@include respond(tab-land) {
		margin-top: -85px;
	}

	@include respond(phone) {
		margin-top: -64px;
	}
}

/* -------------- Section contact page social profile part -------------- */

.section-contact_social {
	padding-bottom: 9rem;

	@include respond(tab-land) {
		padding-bottom: 8rem;
	}

	@include respond(phone) {
		padding-bottom: 6rem;
	}

	.social-main {
		width: 100%;
		@include flex-row;
		justify-content: space-between;
		align-items: center;

		@include respond(phone) {
			flex-direction: column;
		}

		&_box {
			display: flex;
			// width: 300px;
			margin-top: 2.5rem;
			@include flex-row_center;
			flex-wrap: wrap;

			// @include respond(big-desktop) {
			// 	width: 265px;
			// }

			// @include respond(tab-land) {
			// 	width: 180px;
			// }

			// @include respond(tab-port) {
			// 	width: 130px;
			// }

			@include respond(phone) {
				width: 100% !important;
			}

			&:nth-child(1),
			&:nth-child(3) {
				@include respond(phone) {
					display: none;
				}
			}

			&:nth-child(2) {
				display: flex;
				flex: 1;
			}

			&-icon {
				@include flex-row_center;
				margin: 2rem 5px;

				@include respond(tab-port) {
					margin: 2rem 4px;
				}

				@include respond(phone) {
					margin: 1rem 8px;
				}

				&_link {
					text-decoration: none;
					padding: 10px;
					border-radius: 5px;
					font-size: 2.7rem;
					color: $color-grey-dark-2;
					transition: all 0.3s;

					display: flex;
					align-items: center;

					@include respond(tab-port) {
						font-size: 2.5rem;
					}

					@include respond(phone) {
						font-size: 2.4rem;
					}

					&:hover {
						background-color: $color-primary;
						text-decoration: none;
						color: $color-white;
					}

					&-last_child {
						&:hover {
							background-color: #fff !important;

							.kiwi-img-box {
								img {
									filter: grayscale(0%);
								}
							}
						}
					}

					.kiwi-img-box {
						width: 28px;
						height: 28px;
						@include flex-row_center;

						@include respond(big-desktop) {
							width: 34px;
							height: 34px;
						}

						@include respond(tab-land) {
							width: 26px;
							height: 26px;
						}

						@include respond(tab-port) {
							width: 22px;
							height: 22px;
						}

						@include respond(phone) {
							width: 20px;
							height: 20px;
						}

						img {
							height: 100%;
							filter: grayscale(100%);
							transition: all 0.2s;
						}
					}
				}
			}
		}
	}
}

// New map box section

.map-sec {
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 7.5rem;
}

.map-box {
	width: 100%;
	height: 400px;

	@include respond(tab-land) {
		height: 330px;
	}

	@include respond(phone) {
		height: 260px;
	}
}
