
.freebie_design {
  padding-top: 3rem;
}

.freebie_box {
  width: 100%;
  height: auto;
  margin-top: -5.5rem;

  @include respond(phone) {
    width: 84%;
    margin-left: 8%;
    margin-top: 0.5rem;
  }
  
  img {
    width: 100%;
    height: auto;
  }
}